.input {
	font-size: 15px;
	height: 30px;
	width: 550px;
	margin-bottom: 15px;
	margin-top: 8px;
	font-weight: normal;
}

p {
	font-size: 18px;
}

form {
	font-size: 17px;
}

.form-control {
	width: 550px;
	font-size: 15px;
	margin-bottom: 15px;
}

#enroll {
	margin-right: 30px;
}

#file {
	display: inline-block;
}

#submit{
	display: block;
	margin-top: 20px;
	background-color: #349EC2;
	color: white;
	border: 0;
	border-radius: 3px;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

#upload{
	margin-left: 20px;
}

.directoryTree ul > li:last-child {
	border-width: 0px;
}